@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wdth,wght@100..125,200..800&display=swap');

// Typography
$base-font-size: 16;
$ratio: 1.333;
$sizes: (
    'tiny': 0.8,
    'smal': 0.9,
    'base': 0,
    'medium': 1,
    'large': 2,
    'xlarge': 3,
    'xxlarge': 4,
    'giant': 5,
);

@function typescale($step) {
    $raw-size: $base-font-size * pow($ratio, $step);
    @return round($raw-size * 1000) / 1000 * 1px;
  };

// Loop through $sizes map to generate font size classes
@each $name, $step in $sizes {
  .fs-#{$name} {
    font-size: typescale($step);
  }
};

h1 {
    font-size: typescale(5);
}

h2 {
    font-size: typescale(4);
}

p {
    font-size: typescale(0)
}