@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wdth,wght@100..125,200..800&display=swap');

$base-font-size: 16px;
$scale-ratio: 1.1414;

@function typescale ($step) {
    @return $base-font-size * ( $scale-ratio * $step );
};

body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800
// <width>: Use a value from 100 to 125
body {
    font-family: "BioRhyme", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

h1, h2, h3, h4, h5 , h6, h7 {
    font-family: "BioRhyme", serif;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

h1 {
    font-size: typescale(7)
}

nav {

    &>ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        align-items: center;
        list-style-type: none;
        grid-template-columns: 1fr auto;
        justify-content: space-between; // Logo left, links grouped to the
    }
}

